{% extends "base.html" %}
{% block title %}About{% endblock %} 

{% block left_content %} <div></div> {% endblock %}
{% block right_content %} <div></div> {% endblock %}

{% block main_content %}
    <p id="main_about_statement">
        Quick yet accurate Weather prediction is imperative for certain industries
        to now only survive, but simply exist. An important factor of these is the
        ability to track, categorize and predict movements of clouds within a given
        area.
    </p>
    <br>
    <p>
        Image data and is collected from a number of our stations, and analyzed server-side.
        We collect:
    </p>
    <ul>
        <li>Humidity</li>
        <li>Air Pressure</li>
        <li>Temperature</li>
        <li>Dewpoint</li>
    </ul>
{% endblock %}