<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    {%block import %}{% endblock %}
    
    <title>{%block title %}Cool Website{% endblock %}</title>
</head>
<body>
    <div class="page-container">
        <header>
            <a href="https://www.youtube.com/watch?v=WchseC9aKTU" target="_blank">
                <img id = "logo" src = "../static/favicon.ico" alt = "slop" width = "75">
            </a>
            <h1 id = "title">{% block h1 %}Monitoring System{% endblock %}</h1>
            <!--A navbar with Many options in a flexbox-->
            <nav id = "navbar">
                <ul>
                    <li><a href="/" target="">Home</a></li>
                    <li><a href="#" target="">About</a></li>
                    <li><a href="#" target="">Contact</a></li>
                    <li><a href="/sign-up" target="">API</a></li>
                    <li><a href="https://github.com/sudoDeVinci/DevinciCloud" target="_blank">Github</a></li>
                    <li><a href="/sign-up" target="">Sign Up</a></li>
                    <li><a href="/login" target="">Login</a></li>
                </ul>
            </nav>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

        <div class="contain">
            <div class="column column1">
                {% block left_content %}
                <h3>SideBar L</h3>
                <p>This is the side page content.</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam metus, dapibus ut efficitur sagittis, posuere faucibus leo. 
                    Aliquam in est elementum, elementum enim ut, egestas magna. Sed dignissim erat quis turpis hendrerit auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Duis lobortis lacus at odio iaculis, sit amet bibendum orci accumsan. Duis hendrerit nisi felis, sed interdum mauris varius id. Phasellus rhoncus efficitur placerat.
                    Aliquam dapibus lectus lacus, vel interdum risus maximus vel. Phasellus placerat est odio, et ornare sem commodo non. Nam consequat consequat urna. Nam sed facilisis ex.
                    Phasellus eu nibh ut purus bibendum euismod rutrum efficitur felis. Integer fringilla odio non neque porttitor tempor.</p>
                {% endblock %}
                </div>
            <div class="column middle">
                {%block main_content %}
                <h3>Main Content</h3>
                <p>This is the content of Column 2.</p>
                <p>This is the main page content</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam metus, dapibus ut efficitur sagittis, posuere faucibus leo. 
                    Aliquam in est elementum, elementum enim ut, egestas magna. Sed dignissim erat quis turpis hendrerit auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Duis lobortis lacus at odio iaculis, sit amet bibendum orci accumsan. Duis hendrerit nisi felis, sed interdum mauris varius id. Phasellus rhoncus efficitur placerat.
                    Aliquam dapibus lectus lacus, vel interdum risus maximus vel. Phasellus placerat est odio, et ornare sem commodo non. Nam consequat consequat urna. Nam sed facilisis ex.
                    Phasellus eu nibh ut purus bibendum euismod rutrum efficitur felis. Integer fringilla odio non neque porttitor tempor.</p>
                {% endblock %}
                </div>
            <div class="column column3">
                {%block right_content%}
                <h3>SideBar R</h3>
                <p>This is the side page content</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam metus, dapibus ut efficitur sagittis, posuere faucibus leo. 
                    Aliquam in est elementum, elementum enim ut, egestas magna. Sed dignissim erat quis turpis hendrerit auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Duis lobortis lacus at odio iaculis, sit amet bibendum orci accumsan. Duis hendrerit nisi felis, sed interdum mauris varius id. Phasellus rhoncus efficitur placerat.
                    Aliquam dapibus lectus lacus, vel interdum risus maximus vel. Phasellus placerat est odio, et ornare sem commodo non. Nam consequat consequat urna. Nam sed facilisis ex.
                    Phasellus eu nibh ut purus bibendum euismod rutrum efficitur felis. Integer fringilla odio non neque porttitor tempor.</p>
                {% endblock %}
            </div>
        </div>
        
        <footer>
            <a href="" target="_blank">
                <img id = "footer_logo" src = "../static/vlsp_logo.png" alt = "slop" width = "125">
            </a>
            <p>© 2024 Tadj Cazaubon</p>
            <div class="contain">
                <div class="column">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam metus, dapibus ut efficitur sagittis, posuere faucibus leo. 
                        Aliquam in est elementum, elementum enim ut, egestas magna. Sed dignissim erat quis turpis hendrerit auctor.
                    </p>
                </div>
                <div class="column">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam metus, dapibus ut efficitur sagittis, posuere faucibus leo. 
                        Aliquam in est elementum, elementum enim ut, egestas magna. Sed dignissim erat quis turpis hendrerit auctor.
                    </p>
                </div>
                <div class="column">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam metus, dapibus ut efficitur sagittis, posuere faucibus leo. 
                        Aliquam in est elementum, elementum enim ut, egestas magna. Sed dignissim erat quis turpis hendrerit auctor.
                    </p>
                </div>
            </div>
        </footer>
    </div>
    
</body>
</html>
